<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="/" class="navigation-links-navlink navbar-link">
      <span>Présentation</span>
    </a>
    <a href="/architecture.html" class="navigation-links-navlink1 navbar-link">
      <span>Architecture</span>
    </a>
    <a href="/securisation.html" class="navigation-links-navlink2 navbar-link">
      <span>Sécurisation</span>
    </a>
    <a href="/demonstration.html" class="navigation-links-navlink3 navbar-link">
      <span>Démonstration</span>
    </a>
  </nav>
</div>
